/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* color variables */
:root {
    --soft-blue: hsl(215, 51%, 70%); 
    --cyan: hsl(178, 100%, 50%); 
    --main-bg: hsl(217, 54%, 11%); 
    --card-bg:  hsl(216, 50%, 16%); 
    --line: hsl(215, 32%, 27%); 
    --white:hsl(0, 0%, 100%); 
}

/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

/* container */
.container {
    max-width: 20rem;
    width: 98%;
    margin: 0 auto;
}


/* card */
.nft-card {
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: 1.2rem;
}


/* card image */
.nft-card .ntf-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.2rem;
}

.nft-card .image-wrapper {
    display: block;
    position: relative;
}

/* .nft-card  image overlay  */
.nft-card .image-wrapper::after {
    content: '';
    width: 100%;
    height: 98.5%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    /* display: flex */
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.225);
    background-image: url('./images/icon-view.svg');
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    background-position: center;
    transition: .3s linear;
    display: none;
}
/* display overlay */
.nft-card .image-wrapper:hover::after {
    display: flex;
}

/* card details */
.nft-card .title {
    color: var(--white);
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s linear;
}
.nft-card .title:hover {
    color: var(--cyan);
}

.nft-card .description { 
    color: var(--soft-blue);
    margin-top: 1rem;
    font-weight: 300;
    font-size: 1.05rem;
}


/* price & deadline section*/
.nft-card .price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.95rem;
}

.nft-card .price {
    color: var(--cyan);
    display: flex;
    align-items: center;
    gap: 0.313rem;
    font-size: 0.875rem;
    font-weight: 500;

}
.nft-card .price-icon {
    width: 0.625rem;
}

.nft-card .deadline {
    color: var(--soft-blue);
    display: flex;
    align-items: center;
    gap: 0.313px;
    font-size: 0.875rem;
    font-weight: 500;
}

.nft-card .deadline-icon {
    width: 1.25rem;
}


/* creator */
.nft-card .creator {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-top: 15px;
    color: var(--soft-blue);
    border-top: 0.063rem solid var(--line);
    padding-top: 0.938rem;
    padding-bottom: 15px;
    font-size: 1rem;
    font-weight: 400;
}

/* creator avatar */
.nft-card .creator-avatar {
    width: 2.188rem;
    height: 2.188rem;
    object-fit: cover;
    border: 0.125rem solid var(--soft-blue);
    border-radius: 50%;
}

/* author name */
.nft-card .author {
    color: var(--white);
    transition: .3s linear;
}
.nft-card .author:hover {
    color: var(--cyan);
}