
/* font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* variables */
:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%); 
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Manrope', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grayish-blue);
}


.container {
    max-width: 850px;
}


/* card */
.card {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: .5rem;
    background-color: #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.122);
}

.card .card__title {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--very-dark-grayish-blue);
}

.card .card__description {
    font-size: .95rem;
    margin: 1rem 0;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--desaturated-dark-blue);
}


/* image */
.card .card__image {
    width: 40%;
    flex-shrink: 0;
    object-fit: cover;
}   



/* card content */
.card .card__content {
    padding: 1.5rem 2rem 2rem 1rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* content footer */
.card .content__footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.card .avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.card .avatar-name {
    font-size: .9rem;
    font-weight: 700;
    color: var(--very-dark-grayish-blue);
}
.card .avatar-date {
    font-size: .8rem;
    font-weight: 500;
    color: var(--desaturated-dark-blue);
}

.card .share-btn {
    background-color: var(--light-grayish-blue);
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
    position: relative;
}
.card .share.active {
    background-color: var(--very-dark-grayish-blue);
    color: var(--light-grayish-blue);
}
/* .card .share::after {
    content: url('./images/icon-share.svg');
} */


.card .share__links {
    border-radius: 0.6rem;
    position: absolute;
    top: -215%;
    right: -185%;
    padding: 1rem 2rem;
    display: none;
    gap: 1rem;
    background-color: var(--very-dark-grayish-blue);
    color: var(--grayish-blue);

    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .3rem;
}

.card .share__links.show {
    display: flex;
}

.card .share__links::after {
    content: '';
    height: 10px;
    width:10px;
    background-color: inherit;
    transform: rotate(45deg);
    position: absolute;
    bottom: -10%;
    right: 28%;
}


/* for smaller devices */
@media screen and (max-width:650px) {
    
    .container {
        width: 95%;
        margin: 0 auto;
    }
    .card {
        display: block;
        position: relative;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .card .card__image {
        width: 100%;
        height: 100%;
    }

    .card .card__content {
        width: 100%;
        padding: 3rem;
        gap: .7rem;
    }


    .card .share__links::after {
        display: none;
    }

    /* share */
    .card .share {
        position: static;
    }


    .card .share__links {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        height: 6rem;
        align-items: center;
        justify-content: space-around;
        bottom: 0;
        left: 0;
        right: 0;
        top: unset;
    }
}